body{
	font-family: Corbel;
}

#blok0{
	margin: 0 auto;	
	border-width: 60px;
	border-style: solid;
	margin-top: 20px;
	border-image: url("wzor2.jpg") 30 / 15px / 10px round;
	width: 30%;
	float: left;
}
#div1{
	width: 80vw;
	height: 95vh;
	border: dotted red;
	border-width: medium;
}
#table2, #tr2, #td2{
	border: 1px solid;
	cursor: crosshair;	
}

#tr2, #td2{
	width: 30px;
	height: 10px;
}

a:hover.link3{
	background-color: gray;
	border-style: solid;
	color: black;
	text-decoration: none;
}

a:hover.link4{
	background-color: black;
	border-style: dotted;
	color: silver;
	text-decoration: none;
}

ol.ol5{
	list-style-image: url(gwiazdka.jpg);
    margin-left: 25px;
}

#div6,#div7{
	background-color: green;
	width: 240px;
	height: 100px;
	margin: 20px 10px 5px 10px;
}

#div7{
	background-image: url("wzor2.jpg");
	background-repeat: no-repeat;
}

p{
	font-family: Tahoma;
	font-style: italic;
	font-weight: 500;
	font-size: 20px
}

h1{
	text-decoration: overline;
	word-spacing: 10px;
	text-align: right;
	color: green;
}

#div10{
	background-color: LightGreen;
	width: 500px;
	height: 350px;
	padding: 10px;
}

#div102{
	color: white;
	font-family: Arial;
	font-size: 15px;
	background-color: gray;
	border-style: double;
	border-color: black;
	border-radius: 35px 0 35px 0 ;
	letter-spacing: 20px;
	cursor: wait;
	padding: 3cm;
}

#div11{
	background-image: url(auto.jpg);
	background-size: 140px;
	background-repeat: repeat-x;
	background-color: pink;
	padding: 20px 0px 0px 20px;
	width: 540px;
	height: 260px;
}

.ul11{
	font-weight: bold;
	font-variant: small-caps;
	color: white;
	list-style-type: upper-roman;
}

#div12{
	background-color: lightblue;
	padding: 15px;
	width: 540px;
	height: 260px;
}

#h312{
	color: yellow;
	font-family: Verdana;
	font-size: 12pt;
	line-height: 3;
	text-align: center;
	margin: 5px;
	border: 8px red;
	border-style:ridge;
	cursor: ne-resize;
}

#div13{
	background-color: yellow;
	padding: 10px;
	width: 540px;
	height: 380	px;
}

#table13{
	width: 450px;
	height: 300px;
	border-style: dashed;
	border-color: red;
	border-width: 0 10px 0 10px;
	background-color: orange;
}

#tr13, #td13{
	background-color: orange;
	text-align: center;
	color: white;
	font-family: Calibri;
	font-size: 20pt;
	border: 1px solid;
}

#a131, #a131:hover{
	color: green;
	text-decoration: none;
}

#a131:hover{
	font-weight: bold;
}

#div14{
	background-color: lightblue;
	background-image: url('human.png');
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
	padding: 25px;
	width: 540px;
	height: 350px;
	padding-top: 5%;
}

#div14inside{
	background-color: blue;
	opacity: 50%;
	color:yellow;
	font-family: "Comic Sans MS";
	font-size: smaller;
	text-indent: 28px;
	word-spacing: 10px;
	text-align: justify;
	border: outset green 8px;
	padding: 5px;
}

